@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: "Atkinson", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	/* --sans: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; */
	--serif: Iowan Old Style, Times New Roman, Times, serif;
	--mono: Menlo, Consolas, Monaco, monospace;
	
	/* z-index */
	--z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
	--z-overlay: 1000;

	/* presets */
	--border-radius: 0;
	--font-body: var(--sans);
	--font-form: var(--sans);
	--color-bg: var(--color-gray-800);
	--color-fg: var(--color-gray-300);
	--color-fg-darker: var(--color-gray-400);
  --color-link: var(--color-white);
	--color-primary: var(--color-green);
	--color-secondary: var(--color-blue);
	--color-tertiary: var(--color-yellow);
  --color-focus: var(--color-white);
  --color-mark: var(--color-primary);
	--color-border: var(--color-gray-300);
	--color-selection: var(--color-gray-600);
	--color-button-bg: var(--color-gray-400);
	--color-button-fg: var(--color-gray-1000);
	--color-button-hover: var(--color-gray-300);
	--color-input-bg: var(--color-gray-100);
	--color-input-fg: var(--color-gray-700);
	--color-placeholder: var(--color-gray-500);
	--color-text-outline: var(--color-bg);
	
	--col-width: 40rem;
}

h1 {
	font-size: var(--48px, 48px);
}

h2 {
	font-size: var(--36px, 36px);
}

h3 {
	font-size: var(--28px, 28px);
}

h4 {
	font-size: var(--24px, 24px);
}

h5 {
	font-size: var(--22px, 22px);
}

h6 {
	font-size: var(--20px, 20px);
}

main {
	padding: 0 16px;
}

video {
	display: block;
}

mark {
	color: var(--color-gray-800);
}

a:hover {
	color: var(--color-primary);
}

mark.cat-sex {
	background-color: var(--color-primary);
	box-shadow: -4px 0px 0px var(--color-primary), 4px 0px 0px var(--color-primary);
	padding: 0;
	margin: 0 6px;
	color: var(--color-gray-800);
}

mark.cat-relationships {
	background-color: var(--color-secondary);
	box-shadow: -4px 0px 0px var(--color-secondary), 4px 0px 0px var(--color-secondary);
	padding: 0;
	margin: 0 6px;
	color: var(--color-gray-800);
}

mark.cat-disrespect {
	background-color: var(--color-tertiary);
	box-shadow: -4px 0px 0px var(--color-tertiary), 4px 0px 0px var(--color-tertiary);
	padding: 0;
	margin: 0 6px;
	color: var(--color-gray-800);
}

article p {
	--size: var(--18px);
	margin: var(--size) auto;
	font-size: var(--size);
	line-height: 1.5;
	max-width: var(--col-width);
}

figure {
	margin: var(--32px) auto;
}

button {
	font-weight: bold;
}

mark {
	position: relative;
}

aside {
	font-size: var(--14px);
	max-width: var(--col-width);
	margin: 32px auto;
	background: var(--color-gray-900);
	line-height: 1.6;
	padding: 16px;
}

@media only screen and (min-width: 25rem) {
	article p {
		--size: var(--20px);
	}
}

@media only screen and (min-width: 30rem) {
	article p {
		--size: var(--24px);
	}

	aside {
		font-size: var(--20px);
		padding: 24px 32px;
	}
}

@media only screen and (min-width: 60rem) {
	article p {
		--size: var(--28px);
	}

	figure {
		margin: var(--64px) auto;
	}
}

